$main-color: #1755e7;
$secondary-color: #164dcc;
$gray-color:#bbbdc2;
$burgrer-color: #fc0804;
$clear-white: #fff;
$light-white: rgba(255, 255, 255, 0.98);

$navigation-gradient: linear-gradient(270deg, rgba(23,85,231,1) 0%, rgba(177,179,185,0.3) 29%, rgba(0,212,255,0.4) 57%);
$hero-image-gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(177,181,185,0.3) 35%, rgba(22, 77, 204, 0.4) 100%);

